@model dynamic

@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>


<div class="form-group">
    <label class="col-form-label mt-4">Search user</label>
    <input class="form-control" type="text" placeholder="Enter Client name or Surname" id="search-input">
    <div class="progress" id="search-progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
    </div>
    <label class="col-form-label mt-4">Select user</label>
    <select class="form-select" id="search-results">
    </select>
</div>

<div class="form-group">
    <label class="col-form-label mt-4">Search movie</label>
    <input class="form-control" type="text" placeholder="Enter Movie name" id="search-input2">
    <div class="progress" id="search-progress2">
        <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress2" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
    </div>
    <label class="col-form-label mt-4">Select movie</label>
    <select class="form-select" id="search-results2">
    </select>
    <br/>
    <button class="btn btn-primary" id="add-movie-btn">Add Movie</button>
    <div class="list-group" id="selected-movies-list"></div>
</div>
<br/>
<button class="btn btn-primary" id="submit-btn">Rent movies</button>

<script>
    // debounce function
    function debounce(func, wait, immediate) {
        var timeout;
        return function () {
            var context = this, args = arguments;
            var later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };

    //search function
    var searchInput = document.getElementById("search-input");
    var searchResults = document.getElementById("search-results");
    var searchProgress = document.getElementById("search-progress");
    var progress = 0;
    searchInput.addEventListener("input", debounce(performSearch, 250));

    var intervalId;

    function performSearch() {

        //if thera are at least 3 characters in the search input
        if (searchInput.value.length >= 3) {
            progress = 0;
            clearInterval(intervalId);
            var searchTerm = searchInput.value;
            intervalId = setInterval(function () {
                progress += 10;
                if (progress >= 80) {
                    clearInterval(intervalId);
                    progress = 100;
                    $.ajax({
                        type: "GET",
                        url: "/Customers/Search",
                        data: { searchTerm: searchTerm },
                        success: function (response) {
                            searchResults.innerHTML = "";
                            var option;
                                    if (response.length == 0) {
                                        var noResults = document.createElement("option");
                                        noResults.text = "No customers were found. Try again";
                                        noResults.value = "-1";
                                        searchResults.add(noResults);
                                    } else {
                            response.forEach(function (customer) {
                                option = document.createElement("option");
                                option.text = customer.name + " " + customer.surname + " Id: " + customer.id;
                                option.value = customer.id;
                                searchResults.add(option);
                            });
                            }
                        }
                    });
                }
                var progressBar = document.querySelector("#search-progress .progress-bar");
                progressBar.setAttribute("aria-valuenow", progress);
                progressBar.style.width = progress + "%";
            }, 500);
        }
    }

</script>


<script>
    // debounce function
    function debounce(func, wait, immediate) {
        var timeout;
        return function () {
            var context = this, args = arguments;
            var later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };

    //search function
    var searchInput2 = document.getElementById("search-input2");
    var searchResults2 = document.getElementById("search-results2");
    var searchProgress2 = document.getElementById
    //search function
    var searchInput2 = document.getElementById("search-input2");
    var searchResults2 = document.getElementById("search-results2");
    var searchProgress2 = document.getElementById("search-progress2");
    var progress2 = 0;
    searchInput2.addEventListener("input", debounce(performSearch2, 250));

    var intervalId2;

    function performSearch2() {

        //if thera are at least 3 characters in the search input
        if (searchInput2.value.length >= 3) {
            progress2 = 0;
            clearInterval(intervalId2);
            var searchTerm2 = searchInput2.value;
            intervalId2 = setInterval(function () {
                progress2 += 10;
                if (progress2 >= 80) {
                    clearInterval(intervalId2);
                    progress2 = 100;
                    $.ajax({
                        type: "GET",
                        url: "/Movies/Search",
                        data: { searchTerm: searchTerm2 },
                        success: function (response) {
                            searchResults2.innerHTML = "";
                            var option;
                            if (response.length == 0) {
                                var noResults = document.createElement("option");
                                noResults.text = "No movies were found. Try again";
                                noResults.value = "-1";
                                searchResults2.add(noResults);
                            } else {
                                response.forEach(function (movie) {
                                    option = document.createElement("option");
                                    option.text = '\u0022' + movie.name + '\u0022' + " Available movies: " + movie.numberAvailable + " Genre: " + movie.genre.name;
                                    option.value = movie.id;
                                    searchResults2.add(option);
                                });
                            }
                        }
                    });

                }
                var progressBar2 = document.querySelector("#search-progress2 .progress-bar");
                progressBar2.setAttribute("aria-valuenow", progress2);
                progressBar2.style.width = progress2 + "%";
            }, 500);
        }
    }
</script>
<script>
    var addMovieBtn = document.getElementById("add-movie-btn");
    addMovieBtn.addEventListener("click", addSelectedMovie);
    var selectedMovies = [];
    var selectedMoviesIds = [];
    window.globalSelectedMoviesIds = selectedMoviesIds;
    function addSelectedMovie() {
        var selectedOption = searchResults2.options[searchResults2.selectedIndex];
        //check if the numberAvailable is greater than 0
        if (selectedOption.text.includes("Available movies: 0")) {
            var target = document.getElementById("search-results2").parentNode;
            target.insertAdjacentHTML('afterend', `<div class="card text-white bg-danger mb-3 center-div" style="max-width: 20rem;">
                                                <div class="card-header">Warning</div>
                                                    <div class="card-body">
                                                        <h4 class="card-title">Sorry, but the movie in unavailable.</h4>
                                                                    <p class="card-text">Suggest the client a similar title.</p>
                                                        </div>
                                                        </div>`);
            setTimeout(function () {
                $('.center-div').fadeOut(1500);
            }, 3000);
            return;
        }
        if (selectedOption.value !== "-1") {
            var selectedMovie = selectedOption.text.split('\u0022')[1];
            if (selectedMovies.length < 5 && !selectedMovies.includes(selectedMovie)) {
                selectedMovies.push(selectedMovie);
                selectedMoviesIds.push(selectedOption.value);
                //console.log(selectedMoviesIds);
                var selectedMoviesList = document.getElementById("selected-movies-list");
                var newListItem = document.createElement("a");
                newListItem.classList.add("list-group-item", "list-group-item-action");
                newListItem.textContent = selectedMovie;
                var removeBtn = document.createElement("button");
                removeBtn.classList.add("btn", "btn-outline-warning", "btn-sm", "float-right");
                removeBtn.style.marginLeft = "10px";
                removeBtn.textContent = "Remove";
                removeBtn.addEventListener("click", function () {
                    var index = selectedMovies.indexOf(selectedMovie);
                    selectedMovies.splice(index, 1);
                    selectedMoviesList.removeChild(newListItem);
                });
                newListItem.appendChild(removeBtn);
                selectedMoviesList.appendChild(newListItem);
            }
            else if (selectedMovies.length >= 5) {
                var target = document.getElementById("search-results2").parentNode;
                target.insertAdjacentHTML('afterend', `<div class="card text-white bg-danger mb-3 center-div" style="max-width: 20rem;">
                                            <div class="card-header">Warning</div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Too many movies.</h4>
                                                        <p class="card-text">You can add up to 5 movies for one user.</p>
                                                    </div>
                                                    </div>`);
                setTimeout(function () {
                    $('.center-div').fadeOut(1500);
                }, 3000);
            } else if (selectedMovies.includes(selectedMovie)) {
                var target = document.getElementById("search-results2").parentNode;
                target.insertAdjacentHTML('afterend', `<div class="card text-white bg-danger mb-3 center-div" style="max-width: 20rem;">
                                        <div class="card-header">Warning</div>
                                            <div class="card-body">
                                                <h4 class="card-title">Movie already added</h4>
                                                <p class="card-text">This movie already added to the list.</p>
                                                </div>
                                                </div>`);
                setTimeout(function () {
                    $('.center-div').fadeOut(1500);
                }, 3000);
            }
        }
    }
</script>
<script>
    $("#submit-btn").click(function () {
        var selectedId = document.getElementById("search-results").value;
        //console.log(selectedId);
        var selectedMoviesIds = window.globalSelectedMoviesIds;
        //console.log(selectedMoviesIds);
        $.ajax({
            type: "POST",
            url: "/api/NewRentals",
            contentType: "application/json",
            data: JSON.stringify({ customerId: selectedId, movieIds: selectedMoviesIds }),

            success: function (response) {
                //console.log(response);
                var target = document.getElementById("search-results").parentNode;
                target.insertAdjacentHTML('afterend', `<div class="card text-white bg-success mb-3 center-div" style="max-width: 20rem;">
                                        <div class="card-header">Success</div>
                                            <div class="card-body">
                                                <h4 class="card-title
                                                ">Rental added</h4>
                                                <p class="card-text">Rental added successfully. Don't forget to wish the client a good day :)</p>
                                                </div>
                                                </div>`);
                setTimeout(function () {
                    $('.center-div').fadeOut(1500, function () {
                        location.reload();
                    });
                }, 3000);
            },
                                                error: function (response) {
                                                    //console.log(response);
                                                    var target = document.getElementById("search-results").parentNode;
                                                    target.insertAdjacentHTML('afterend', `<div class="card text-white bg-danger mb-3 center-div" style="max-width: 20rem;">
                                                    <div class="card-header">Error</div>
                                                    <div class="card-body">
                                                            <h4 class="card-title
                                                                ">Error while adding rental.</h4>
                                                            <p class="card-text">Please make sure, that all fields are filled in.</p>
                                                            </div>
                                                            </div>`);
                                                            setTimeout(function () {
                                                                $('.center-div').fadeOut(1500);
                                                            }, 3000);
                                                            }
                                                            });
                                                            });
                                                            
</script>