@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to VioRentals</h2>
    <h4>
        The program offers features for keeping track of user activity, tracking movie availability, and other tasks in an effort to address the problem of storing and organizing
        a sizable amount of data on a computer. It also provides a number of functionalities, including CRUD operations for customers and movies,
        a search bar, complex pagination, the option to rent movies, and security for accessing administration tools.
        You may efficiently store and manage a lot of data on your computer by using this application.
    </h4>
</div>
<br/>
<h3>Application features:</h3>
<ul class="list-group">
    <li>CRUD operations for movies and customers</li>
    <li>Search bar for movies and customers</li>
    <li>Advanced pagination</li>
    <li>Ability to change the displayed amount of records from 10 to 100</li>
    <li>Ability to jump to any page, not just moving by 1</li>
    <li>Ability to rent a movie to any user (1 the same movie can be rented and max 5 movies at the same time)</li>
    <li>Security to access the administration features</li>
    <li>Login and register</li>
    <li>Api for customers and movies</li>
    <li>DTO- Data Transfer Objects for movies and customers</li>
    <li>Bootstrap template</li>
    <li>xUnit Tests</li>
</ul>
@*<img src="~/css/arnold.png" class="icon mr-4 rounded center-right" alt="Arnold Icon" />
*@
<br/>
<h3>Extensions:</h3>
<ul class="list-group">
    <li>AutoMapper</li>
    <li>Microsoft.EntityFrameworkCore extensions</li>
    <li>Jquery</li>
    <li>SwashBuckle - Swagger</li>
    <li>xUnit</li>
    <li>Moq</li>
</ul>
<br/>
<h3>Testing information</h3>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Admin
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
            <div class="accordion-body">
                <strong>Login:</strong> admin@gmail.com <br>
                <strong>Password:</strong> Admin1234$
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Employee
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>Login:</strong> employee@gmail.com <br>
                <strong>Password:</strong> Employee1234$
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Api testing
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>/swagger/index.html</strong>
            </div>
        </div>
    </div>

</div>