@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is an ASP MVC application that solves the problems of a movie renting store. It stores information about movies (name, genre, release date, date of adding the movie to the database, amount, current availability) and information about customers (First name, Surname, membership type, discount rate, date of birth).</p>
<p>There are 2 roles in the application: the Admin and the Employee. The Employee has access to the movies and customers database and is able to rent a movie to a customer that is in the database, and can make CRUD operations with the movies and customers. The Admin has all the features of Employee and is able to create and manage roles in the application. The visitor is only able to see the movies list, search for a movie based on the movie name, genre, release date, and has access to the details page of any movie.</p>
<p>This application uses the following extensions: AutoMapper, Microsoft.EntityFrameworkCore extensions, Jquery, and SwashBuckle (Swagger) for API documentation.</p>
<p>We take the protection of your personal information very seriously and will only use your personal information in accordance with this privacy policy and the applicable laws. We will never sell or share your personal information with any third parties without your consent.</p>
<p>If you have any questions or concerns about this privacy policy, please contact me.</p>