@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">VioRentals</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                @if ((SignInManager.IsSignedIn(User) && User.IsInRole("Admin")) || User.IsInRole("Employee"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Rentals" asp-action="New" id="new-rental-link">New Rental</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Rentals" asp-action="RentalList" id="rentals-link">Rentals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Customers" asp-action="Index" id="customers-link">Customers</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Movies" asp-action="Index" id="movies-link">Movies</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Extras</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="https://github.com/KrzysztofJaronczyk">Visit my Github</a>
                        <a class="dropdown-item" href="https://www.linkedin.com/in/krzysztof-jaro%C5%84czyk-81aa5b243/">My LinkedIn</a>
                        <a class="dropdown-item" href="mailto:krzysztofjaronczykzyt@gmail.com">Send me a message</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://forms.gle/4bpPjfyCC7F6o57k8">Rate this project :)</a>
                    </div>
                </li>
            </ul>
            <partial name="_LoginPartial"/>
        </div>
    </div>
</nav>


<script>
    const newRentalLink = document.getElementById('new-rental-link');
    const rentalsLink = document.getElementById('rentals-link');
    const customersLink = document.getElementById('customers-link');
    const moviesLink = document.getElementById('movies-link');
    const manageRolesLink = document.getElementById('manage-roles-link');

    const currentPathname = location.pathname.split('/');
    const currentController = currentPathname[1];

    if (currentController === 'Rentals' && currentPathname[2] === 'New') {
        newRentalLink.classList.add('active');
    } else {
        newRentalLink.classList.remove('active');
    }

    if (currentController === 'Rentals' && currentPathname[2] === 'RentalList') {
        rentalsLink.classList.add('active');
    } else {
        rentalsLink.classList.remove('active');
    }

    if (currentController === 'Customers') {
        customersLink.classList.add('active');
    } else {
        customersLink.classList.remove('active');
    }

    if (currentController === 'Movies') {
        moviesLink.classList.add('active');
    } else {
        moviesLink.classList.remove('active');
    }

    if (currentController === 'Administration') {
        manageRolesLink.classList.add('active');
    } else {
        manageRolesLink.classList.remove('active');
    }
</script>

<script>
    const navLinks = document.querySelectorAll('.nav-link');

    for (const navLink of navLinks) {
        if (navLink.getAttribute('href') === location.pathname) {
            navLink.classList.add('active');
        
        }
    }
</script>